@CHARSET "UTF-8";
body
{
	text-align:center;
	background-image: url(../img/body.jpg);
	background-repeat:repeat;
}
.header{width: auto;
	min-height: 70px;
	line-height: 70px;
}
span.title_con{
	font-family:"微软雅黑";
	font-style: normal;
	font-size: 2em;
	font-weight:800 ;
	color: white;
	padding-left: 1em;
}
span.title_con1{
	position:absolute;
	font-family:"微软雅黑";
	font-style: normal;
	font-size:x-large;
	color:white;
	right:90px;
}
.logout{
	position:absolute;
	font-family:"微软雅黑";
	font-style: normal;
	right:10px;
}
span
{
	font-family: "微软雅黑";
	font-size: 1.5em;
	font-weight: bold;
	color: #f2f3f1;
}
input
{
	width: 15em;
	padding: 0.5em 1em;
	border: 1px solid #bbb;
	margin-left:0px;
}
.submit
{
	width: 8em;
	height: 2em;
	background-color: #62ab00;
	border-radius: 4px;
	border: 0px;
	color: #fff;
	font-family:"微软雅黑";
	font-size: 1em;
	font-weight: bold;
	margin: 1em 0 1em 0;
}
.t2{
-webkit-box-shadow:1px 1px 0 #E7E7E7;
-webkit-box-sizing:border-box;
border-color:#CCCCCC #999999 #999999 #CCCCCC;
border-style:solid;
border-width:1px;
font-family:"微软雅黑";
font-size:20px;
line-height:10px;
margin:50px auto;
outline-color:-webkit-use-text-color;
outline-style:none;
outline-width:medium;
padding:2px;
max-width:400px;
}